---
import Baselayout from "../layouts/Baselayout.astro";
import Slide from "../components/Slide.astro";
import ComputerCards from "../components/ComputerCards.astro";
const pageTitle = "PSL Computers Japan";
---

<Baselayout pageTitle={pageTitle}>
  <div class="banner">
    <Slide />
  </div>
  <div class="showcase">
    <h1>PSL COMPUTERS JAPAN</h1>
    <h2>My Projects</h2>
    <div class="card-container">
      <ComputerCards />
    </div>
    <form action="#">
      <button class="contactMe">contact me!</button>
    </form>
  </div>
</Baselayout>
